@tailwind base;
@tailwind components;
@tailwind utilities;


@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.active {
    background-color: #ffffff ;
    color:#ff00ff ; 

  }

  .home-container {
    
    transition: background-color 0.3s ease;
  }
  
  .light-mode {
    background-color: white;
    color: black;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
  
  .toggle-button {
    margin-bottom: 20px;
    cursor: pointer;
  }
  
